[Unit]
Description=User Service
[Service]
User=todo
ExecStart=java -jar /home/users/users/users.jar  --no-warnings
Environment=SERVER_PORT=8080
SyslogIdentifier=users
[Install]
WantedBy=multi-user.target