filebeat.inputs:
- type: log
  # json.keys_under_root: true
  enabled: true
  paths:
    - /var/log/
  fields:
    logType: {{ log_filename.type }}

{% if IS_STRUCTURED %}
output.elasticsearch:
  hosts: ["localhost:9200"]
  #index: "{{COMPONENT}}-%{+yyyy.MM.dd}"
{% else %}
output.logstash:
  hosts: ["localhost:5044"]
{% endif %}


setup.template.name: "{{COMPONENT}}"
setup.template.pattern: "{{COMPONENT}}-*"
setup.ilm.enabled: false

## These always are defaults
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.template.settings:
  index.number_of_shards: 1

