[Unit]
Description = Todo Service

[Service]
Environment=REDIS_HOST=172.31.19.53
ExecStart=/bin/node /home/todo/todo
SyslogIdentifier=todo
Restart=on-failure

[Install]
WantedBy=multi-user.target