[Unit]
Description = Todo Service

[Service]
User=todo
Environment=REDIS_HOST=http://redis-{{ENV}}.chandra1.online:8080
Environment=TODOS_API_PORT=8080
ExecStart=/bin/node --no-warnings /home/todo/todo/server.js
SyslogIdentifier=todo
Restart=on-failure

[Install]
WantedBy=multi-user.target