[Unit]
Description = login Service

[Service]
User=root
Environment=AUTH_API_PORT=8080
Environment=USERS_API_ADDRESS=http://172.31.48.33:8080
ExecStart=/home/login/login
SyslogIdentifier=login

[Install]
WantedBy=multi-user.target